@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #3ca7ee, #9b408f);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}
.container{
    width: 400px;
    height: 600px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}
.container h1{
    position: absolute;
    top: 50px;
    font-size: 40px;
    font-weight: bolder;
}
.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .form-control{
    width: 100%;
    height: 70px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
}
.container .form-control input{
    width: 80%;
    height: 40px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid rgba(139, 139, 139, 0.719);
    position: relative;
    z-index: 1;
}
.container .form-control input:focus{
    outline: none;
}
.container .form-control input:focus+span{
    width: 80%;
}
span{
    width: 0%;
    height: 10px;
    position: relative;
    transform-origin: left;
    transition: 0.5s;
}
.container .form-control span::before{
    content: '';
    width: 100%;
    height: 3px;
    background: #0099ff;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 2;
}
.container #submit{
    width: 80%;
    height: 50px;
    background: #2691d9;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 80px;
}
.container #submit:hover{
    background: #0e629b;
}
.container p{
    position: absolute;
    bottom: 15px;
}
.container a{
    text-decoration: none;
    color: #3ca7ee;
    position: relative;
}
.container a:hover::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #3ca7ee;
    position: absolute;
    bottom: 0;
    left: 0;
}
small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 2;
}